[alias]
	st=status
	co=checkout
	br=branch

[user]
	email = mmitsenmacher@coreweave.com
	name = mmitsenmacher

[spx-version]
	version=v1.0-beta9.4

[safe]
	directory=*

[spx]
	external = true
	error-reporting = true
	sentry-dsn = https://dca586c8c83d4d7a9424aa96530065e0@devnet.megarac.com/sentry/33
[credential]
	helper = store
[spx-sysuser]
	mmitsenmacher = 1000
[spx-bash]
	path = /home/mmitsenmacher/.spx-bashrc
